[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
autopep8 = "*"
numpy = "*"
conventional-commit = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
